.image img {
    height: 150px;
    width: 100px;
    margin: 0 20px;
}

.movie{
    font-size: 18px;
}

.image, .movie {
    display: inline;
    vertical-align: middle;
}

.button {
    margin: 0 20px;
    margin-bottom: 20px;
}